@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Merriweather);

/* general text formatting */

h1, h2, h3, nav, footer {
 font-family: 'Merriweather', serif; 
}
body {
   font-family: 'Open Sans', Arial, sans-serif;
   font-size: 16px;
   text-align: center;
}


label {
   font-size: 16px;
}

legend {
   background-color: #616161 ;
   text-align: center;
   margin: 10px;
   font-size: 36px;
   width: 98%;
   color: white;

}
fieldset {
   margin: 1px;
   /* font-size: 36px; */
   background-color: #F5F5F5;
   text-align: center;

}

input {
   margin-top: 20px;
   margin-bottom: 20px;
}

div#searchBox, div#settingsBox, div#paintingBox {
   margin: 0.25em auto;
   background-color: #E0E0E0;
   border: 1pt solid #616161;
   text-align: left;

}
div#searchBox { margin-top: 1em; }
div#artistBox { 
   background-color: #EEEEEE;
    
}

table {
   width: 100%;
}

/* td {
   text-align:left;
   vertical-align: middle;
} */

th, td {
   border: 1px solid #ddd;
   padding: 8px;
   text-align: center;
   vertical-align: middle; /* Align content vertically */
}

.painting {
   vertical-align: middle;
   display:inline-block;
}

table thead {
   background-color: #E0E0E0 ;
    
}

caption {
   background-color: #BDBDBD;

}

